body {
  overflow-x: hidden;
  background-color: #1a1f17;
}

.navbar-brand {
  color: #d22d2d;
  font-weight: 700;
}

.navbar-brand:hover {
  color: white;
}

.nav-link:hover {
  color: #d22d2d;
}

footer {
  background-color: #343b2e;
}

header,
.navbar {
  background-color: #343b2e !important;
}

.nav-link {
  color: white;
}
